@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model (List<Course>, Student)
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="cources_box-student text-style">
    <h2>Список курсов</h2>
    <table class="table-style">
        <tr class="text-style">
            <th class="text-style">Название курса</th>
            <th class="text-style">Количество часов</th>
        </tr>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td class="td-table-style">@item.Name</td>
                <td class="td-table-style">@item.CountOFhours</td>
                <td class="td-table-style">
                    <a asp-action="CourseDetails" asp-controller="Student" asp-route-id="@item.Id">Детали</a>
                </td>
                <td class="td-table-style">
                    <a asp-action="UnSubscribeOnCourse" asp-controller="Student" asp-route-id="@item.Id">Отписаться</a>
                </td>
            </tr>
        }
    </table>
</div>
<div class="student_box text-style">
    <br>Добро пожаловать уважаемый @Model.Item2?.Name <br />
    <a asp-action="EditUserProfile" asp-controller="Student" asp-route-id="@Model.Item2?.UserId">Редактировать профиль пользователя</a><br />
    <a asp-action="EditStudentProfile" asp-controller="Student" asp-route-id="@Model.Item2?.Id">Редактировать профиль студента</a><br />
    <a asp-action="Index" asp-controller="Student">Показать все курсы</a><br />
    <a asp-action="ShowClosedCourse" asp-controller="Student">Показать законченные курсы</a><br />
</div>