@model (List<Course>,List<Student>)
@{
    ViewData["Title"] = "Manager Page";

}
<div class="cources_box-student text-style">
    <h2>Список курсов</h2>
    <table class="table-style">
        <tr>
            <th class="text-style">Название курса</th>
            <th class="text-style">Количество часов</th> 
        </tr>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td class="td-table-style">@item.Name</td>
                <td class="td-table-style">@item.CountOFhours</td>
                <td class="td-table-style">
                    <a asp-action="EditCourse" asp-controller="Manager" asp-route-id="@item.Id">Изменить</a>
                </td>
                <td class="td-table-style">
                    <form asp-controller="Manager" asp-action="DeleteCourse" method="post" asp-route-id="@item.Id">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
                <td class="td-table-style">
                    <a asp-action="ShowCourseStudent" asp-controller="Manager" asp-route-id="@item.Id">Студенты курса</a>
                </td>
            </tr>
        }
    </table>
    <p><a asp-action="CreateCourse">Добавить курс</a></p>
</div>
<div class="student_box text-style">
    <h2>Список студентов</h2>
    <table class="table-style">
        <tr>
            <th class="text-style">Имя</th>
            <th class="text-style">Номер группы</th>
            <th class="text-style">Общее количество часов</th>
        </tr>
        @foreach (var item in Model.Item2)
        {
            <tr>
                <td class="td-table-style">@item.Name</td>
                <td class="td-table-style">@item.NumberGroup</td>
                <td class="td-table-style">@item.TotalCountOFhours</td>
                <td class="td-table-style">
                    <a asp-action="StudentDetails" asp-controller="Student" asp-route-id="@item.Id">Детали</a>
                </td>
            </tr>
        }
    </table>
</div>