<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ElNotebook | @ViewBag.Title</title>
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <div><a href="/Home/Index">Home</a> |
        @if (User.FindFirst(ClaimTypes.Role)?.Value == Roletype.Admin.ToString())
        {
            <a href="/Admin/Index">Личный кабинет</a>
        }
        @if (User.FindFirst(ClaimTypes.Role)?.Value == Roletype.Manager.ToString())
        {
            <a href="/Manager/Index">Личный кабинет</a>
        }
        @if (User.FindFirst(ClaimTypes.Role)?.Value == Roletype.Student.ToString())
        {
            <a href="/Student/Index">Личный кабинет</a>
        }
        @if (User.FindFirst(ClaimTypes.Name) is null)
        {
            @: <a href="/Home/Login">Sign in</a>|
            @: <a href="/Home/Reg"> Registration </a>|
        }
        @if (User.FindFirst(ClaimTypes.Name) is not null)
        {
            <a href="/Home/Logout">Sign out</a>
        }
    </div>
    <main>
        @RenderBody()
    </main>
    <footer>
        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }
        else
        {
            <span>Copyright© ElNotebook, @DateTime.Now.Year. All rights reserved</span>
        }
    </footer>
</body>

</html>